* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.container {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;

    .c-5 {
        width: 100%;
        height: 50%;
    }

    .editor-content {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: row;

        .code {
            width: 100%;
            height: 100%;
            background: #0C1021;

            border: 1px solid grey;

            .body {
                width: 100%;
                height: 100%
            }
        }

        .header {
            padding: 5px;
            font-family: Gilroy, monospace, Verdana, Geneva, Tahoma, sans-serif;
            background: rgba(200, 200, 200, .2);
            display: flex;
            align-items: center;
            justify-content: space-between;

            span {
                text-transform: uppercase;
            }

            button {
                display: inline-block;
                border: none;
                background: rgb(0, 114, 192);
                color: white;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }

    .result-content {
        iframe {
            width: 100%;
            height: 100%;
        }
    }
}

.CodeMirror.cm-s-blackboard.CodeMirror-wrap {
    width: 100%;
    height: 90%;
    background: #0C1021;
}

.CodeMirror.cm-s-default {
    background: rgb(52, 61, 70) !important;
}

.CodeMirror-cursor {
    border-color: orange !important;
}

.cm-tag.cm-bracket {
    color: #5ea792 !important;
}

.cm-tag {
    color: #ec6066 !important;
}

.CodeMirror-gutters {
    background: transparent !important;
    border: none !important;
    border-left: 1px solid rgba(0, 0, 0, .1)
}

.cm-attribute {
    color: #bc92c4 !important;
}

.cm-string {
    color: #99c791 !important;
}

.cm-m-xml {
    color: #fff;
}

.cm-m-xml.cm-comment {
    color: rgb(166, 172, 185) !important;
}

.CodeMirror-selected {
    background: rgba(255, 255, 255, .1) !important;
}

.cm-m-xml .cm-meta {
    color: #bc92c4 !important;
}

.cm-m-javascript.cm-atom {
    color: rgb(229, 92, 97) !important;
}

.cm-m-javascript.cm-keyword {
    color: rgb(198, 149, 198) !important
}

.cm-m-javascript.cm-def {
    color: #fff !important;
}

.cm-m-javascript.cm-property {
    color: rgb(102, 153, 204) !important;
}

.cm-m-javascript.cm-variable {
    color: rgb(150, 153, 230) !important
}

.cm-m-javascript.cm-number {
    color: rgb(249, 174, 87) !important;
}

.cm-m-javascript.cm-comment {
    color: rgb(166, 172, 185) !important;
}

.cm-m-css.cm-tag {
    color: #EC6066 !important;
}

.cm-m-css.cm-qualifier {
    color: #C695C0 !important;
}

.cm-m-css.cm-property {
    color: #fff !important;
    font-style: italic !important;
}

.cm-m-css.cm-number {
    color: #F9AE57 !important;
}

.cm-m-css.cm-variable.cm-callee {
    color: #6292C3 !important;
}

.cm-m-css.cm-property.cm-error {
    font-style: normal !important;
}

.cm-m-css.cm-keyword {
    color: #C695C0 !important;
}

.cm-m-css.cm-atom {
    color: #C695C0 !important;
}

.cm-s-blackboard.CodeMirror {
    background: #0C1021;
    color: #F8F8F8;
}

.cm-s-blackboard .CodeMirror-matchingbracket {
    outline: 1px solid grey;
    color: white !important;
}


.cm-s-blackboard .cm-error {
    background: #9D1E15;
    color: #F8F8F8;
}